{
  "type": "WAFV2",
  "defaultAction": {
    "type": "{{ .DefaultAction }}"
  },
  "overrideCustomerWebACLAssociation": false,
  "postProcessRuleGroups": [],
  "preProcessRuleGroups": [
    {{- range $index, $rg := .RuleGroups -}}
    {{- if gt $index 0 }},{{ end }}
    {
      "ruleGroupType": "{{ $rg.Type }}",
      {{- if eq $rg.Type "ManagedRuleGroup" }}
      "managedRuleGroupIdentifier": {
        "vendorName": "{{ $rg.Vendor }}",
        "managedRuleGroupName": "{{ $rg.Name }}"
      },
      {{- else }}
      "ruleGroupArn": "{{ $rg.ARN }}",
      {{- end }}
      "overrideAction": {
        "type": "NONE"
      },
      "excludeRules": []
    }
    {{- end }}
  ]
}
